.contentHeader {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.cardWrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 10px 20px;
    margin-top: 10px;
}

.loadWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}