.card {
    height: 150px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px; 
    text-align: left;
}

.gameName {
    margin-top: 10px;
}
.image {
    object-fit: cover;
    width: 191px;
    height: 118px;
}